@font-face {
    font-family: "San Francisco Regular";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
    font-family: "San Francisco Bold";
    font-weight: 800;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

p {
    font-family: "San Francisco Regular", sans-serif;
}

#title {
    font-family: "San Francisco Bold", sans-serif;
    font-size: 22px;
}

#note {
    font-family: "San Francisco Regular", sans-serif;
    font-size: 14px;
    font-style: italic;
}

#text-content {
    font-family: "San Francisco Regular", sans-serif;
    font-size: 14px;
}
